

@media only screen and (max-width:600px) {
    #form_card{
     /* width:350px;height:300px;font-size: smaller;
      overflow: scroll; */
     /* text-align: center; */ 
     margin-top:25px;
    }
  }




  

@media only screen and (max-width:600px) {
     .main_cards{
      width:360px;height:300px;font-size: smaller;
      overflow: scroll;
    

    }
  }



@media only screen and (max-width:600px) {
    #cards_inside_body,#cards_inside{
     width:150px
     

   }
 }
